<div class="summaryContainer" fxLayout="row" fxLayoutGap="30px" style="width: 90%;">
    <button mat-button (click)="changeDate('today')" [ngClass]="selectedDates == 'today' ? 'glowing-gold': 'dateButton'">today</button>
    <button mat-button (click)="changeDate('yesterday')" [ngClass]="selectedDates == 'yesterday' ? 'glowing-gold': 'dateButton'">yesterday</button>
    <button mat-button (click)="changeDate('week')" [ngClass]="selectedDates == 'week' ? 'glowing-gold': 'dateButton'">week</button>
    <button mat-button (click)="changeDate('month')" [ngClass]="selectedDates == 'month' ? 'glowing-gold': 'dateButton'">month</button>
    <button mat-button (click)="changeDate('custom')" [ngClass]="selectedDates == 'custom' ? 'glowing-gold': 'dateButton'">pick date</button>

</div>
<div class="summaryContainer" fxLayout="row" fxLayoutGap="30px" style="width: 90%;">
</div>
