  <body class="categoryContainer" style="background-color: transparent;" >
  <div class="container">
    <div class="card">
      <div class="face face1">
        <div class="content">
          <img src="https://image.flaticon.com/icons/svg/681/681611.svg" alt="">
          <h3>{{category.name}}</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <p>id: {{category.id}}</p>
          <p>type: {{category.type}}</p>
          <p>sum: 100</p>
         
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
</body>