<div class="navbar-nav" #stickyMenu [class.sticky]="sticky">
  <div class="nav-item" style="float: left;">
    <a
      routerLink="/"
      class="nav-link"
      routerLinkActive="router-link-exact-active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
    <img src="../../../assets/img/logo-small-20.png" style="max-width: 46px; margin-left: 50px; margin-top: 10px;">
    </a>
  </div>

  <div class="menu" >
  <div class="nav-item">
    <a
      routerLink="/movies"
      class="nav-link"
      routerLinkActive="router-link-exact-active"
    >
    <i class="bi bi-search" style="font-size: 25px; min-width: 50px; color: #354855; justify-content: space-between; "></i>
    </a>
  </div>
  <div class="nav-item">
    <a
      routerLink="/profile"
      class="nav-link"
      routerLinkActive="router-link-exact-active"
    >
    <i class="bi bi-person-fill" style="font-size: 2rem; min-width: 50px; color: #354855; justify-content: space-between; margin-left: 20px;"></i>
    </a>
  </div>
  

  <div class="nav-item">
    <a
      routerLink="/playlists"
      class="nav-link"
      routerLinkActive="router-link-exact-active"
    >
    <i class="bi bi-collection-play-fill" style="font-size: 2rem; min-width: 50px; color: #354855; justify-content: space-between; margin-left: 20px;"></i>
    </a>
  </div>
  <div class="nav-item"style="font-size: 2rem; min-width: 50px; color: #354855; justify-content: space-between; margin-left: 50px; margin-top:-20px">
    <app-authentication-button ></app-authentication-button>
</div>

</div>


<!-- this is fake long content -->
<div class="content"></div>